.classy-btn {
	background-color: #009999;
	border: 2px groove #009966;
	color: #993300;
	font-size:2 em;
	font-family: arial;
	font-weight: bold;
	padding: 2px;
	border-radius:25px;
	padding:10px 40px; 
	border:2px solid #a1a1a1;
 }

.song-name{
	margin: 0 auto !important;
	float: none !important;
}
