.modal {
	display:	none;
	position:	fixed;
	z-index:	1000;
	top:		0;
	left:		0;
	height:		100%;
	width:		100%;
	background: rgba( 255, 255, 255, .8 )
		url('loading.GIF')
		50% 50%
		no-repeat;
}

.modal h1 {
    text-align:center;
    margin:40% auto 40% auto;
}

html.loading {
    overflow: hidden;
}

html.loading .modal {
    display: block;
}

body{
	background-color: gray !important;
}

.space{
	padding: 10px;
}
